<h2 class="intro-y text-lg font-medium mt-10">
    Ajouter un assignment
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Titre</ng-template>
                    <mat-form-field>
                        <mat-label>Titre</mat-label>
                        <input matInput placeholder="Ecrivez le titre ici..." formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext (click)="loadMatieres()">Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Matière et date de rendu">

                <form [formGroup]="secondFormGroup">
                    <div>
                        <mat-form-field>
                            <input type="text" placeholder="Matière" aria-label="Number" matInput
                                [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Date de rendu</mat-label>
                            <input matInput formControlName="secondCtrl" type="date"
                                placeholder="Ecrivez la date de rendu ici..." required>
                        </mat-form-field>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" label="Instruction">
                <form [formGroup]="thirdFormGroup">
                    <mat-form-field>
                        <mat-label>Instruction</mat-label>
                        <input matInput formControlName="thirdCtrl"
                            placeholder="Ecrivez les Instructions de l'assignement ici..." required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" label="Eleves">
                <form [formGroup]="fourthFormGroup">
                    <mat-form-field>
                        <mat-label>Eleves</mat-label>
                        <mat-select formControlName="fourthCtrl" multiple>
                          @for (etudiant of listeEtudiants; track etudiant) {
                            <mat-option [value]="etudiant._id">{{etudiant.nom}}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Terminer</ng-template>
                <p>Cliquez sur enregistrer pour sauvegarder les informatons</p>
                <div>
                    <button mat-button matStepperPrevious>Retour</button>
                    <button mat-button (click)="stepper.reset()">Enregistrer</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>