<h2 class="intro-y text-lg font-medium mt-10">
    {{title}}
</h2>
@if(listAssignments.length>0){
<div class="grid grid-cols-12 gap-6 mt-5">
    <!-- BEGIN: Liste de vos assignments -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
        <nav class="w-full sm:w-auto sm:mr-auto">
            <mat-form-field>
                <mat-label>Filtre</mat-label>
                <mat-select [formControl]="filtreControl">
                    <mat-optgroup [label]="'Rendu'" [disabled]="'false'">
                        <mat-option [value]="'note'">Noté</mat-option>
                        <mat-option [value]="'enAttente'">En attente</mat-option>
                    </mat-optgroup>
                    <mat-optgroup [label]="'Non rendu'" [disabled]="'false'">
                        <mat-option [value]="'toNote'">Non rendu</mat-option>
                    </mat-optgroup>
                    <mat-optgroup [label]="''" [disabled]="'false'">
                        <mat-option [value]="'reset'">Réinitialiser</mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
                <button mat-fab color="warn" aria-label="Réinitialiser le filtre" (click)="reset()">
                  <mat-icon>refresh</mat-icon>
                </button>
            <mat-slider min="1" max="{{totalDocs}}" step="1" thumbLabel>
                <input matSliderThumb [(ngModel)]="limit" (change)="getAssignmentsFromService()">
            </mat-slider>
        </nav>
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="totalPages"
            [pageSize]="limit" [showFirstLastButtons]="true" [pageIndex]="page" aria-label="Select page">
        </mat-paginator>
    </div>
    @for(assignment of listAssignments;track assignment._id){
    <mat-card class="intro-y col-span-12 md:col-span-6 example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"
                style=" background-image: url('assets/dist/images/{{assignment.matiere_img}}');"></div>
            <mat-card-title>{{assignment.nom}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card-subtitle>{{assignment.matiere}}</mat-card-subtitle>
            <p>{{assignment.instruction}}</p>
            <p></p>
        </mat-card-content>
        <mat-card-actions class="flex">
            <button class="btn btn-outline-secondary py-1 px-2" (click)="openDialog(assignment._id)">Voir détails</button>
            @if(user && user.role=="prof"){
            <button class="btn btn-outline-secondary py-1 px-2" style="background-color: #90EE90;margin-left: 22px;width: 90px;"
             (click)="openEditDialog(assignment._id)">Modifier</button>
            }
        </mat-card-actions>
    </mat-card>
    }
    <!-- BEGIN:Liste de vos assignments -->
</div>
}@else {
    <div class="grid grid-cols-12 gap-12 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <div class="hidden md:block mx-auto text-slate-500"></div>
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            </div>
        </div>
        <!-- BEGIN: Pas encore de Liste des Matières pour l'utilisateur -->
        <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12  items-center justify-center" >
            <div class="box">
                <label class="vide absolute inset-0 flex items-center justify-center">
                    La liste est encore vide
                </label>
                <div class="flex items-start px-5 pt-5">
                    <div class="w-full flex flex-col lg:flex-row items-center">
                            <img alt="liste vide" src="assets/dist/images/assignvide.jpg" class="w-full h-auto">
                    </div>
                </div>
                
            </div>
        </div>
        <!-- END: Liste des Matières de l'utilisateur -->
    </div>
}
