<!DOCTYPE html>
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="dist/images/logo.svg" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Icewall admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Icewall Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>S'inscrire - MyAssignments</title>
    </head>
    <!-- END: Head -->
    <body class="login">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <!-- BEGIN: Register Info -->
                <div class="hidden xl:flex flex-col min-h-screen">
                    <a href="" class="-intro-x flex items-center pt-5">
                        <img alt="Midone - HTML Admin Template" class="w-6" src="../../assets/dist/images/logo.svg">
                        <span class="text-white text-lg ml-3"> MyAssignments </span> 
                    </a>
                    <div class="my-auto">
                        <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="../../assets/dist/images/illustration.svg">
                        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                            Bienvenue 
                            <br>
                            sur le site.
                        </div>
                        <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Inscrivez vous dès maintenant!</div>
                    </div>
                </div>
                <!-- END: Register Info -->
                <!-- BEGIN: Register Form -->
                <div class="h-screen xl:h-auto flex justify-center items-center py-5 xl:py-0 my-10 xl:my-0">
                    <div class="bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                      <h2 class="font-bold text-2xl xl:text-3xl text-center xl:text-left mb-6">
                        S'inscrire
                      </h2>
                      <form (ngSubmit)="register()">
                        <mat-form-field appearance="fill" class="w-full mb-4">
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" [(ngModel)]="name" name="name" required>
                          </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full mb-4">
                          <mat-label>Email</mat-label>
                          <input matInput type="email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full mb-4">
                          <mat-label>Mot de passe</mat-label>
                          <input matInput type="password" [(ngModel)]="password" name="password" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full mb-6">
                          <mat-label>Confirmation de mot de passe</mat-label>
                          <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-full mb-4">
                            <mat-label>Type d'utilisateur</mat-label>
                            <mat-select [(ngModel)]="role" name="role">
                              <mat-option value="prof">Prof</mat-option>
                              <mat-option value="eleve">Étudiant</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <div class="flex justify-center xl:justify-start">
                          <button mat-raised-button type="submit" class="mr-3">S'inscrire</button>
                        </div>
                      </form> 
                      <div class="mt-8 text-center xl:text-left text-slate-600 dark:text-slate-500">
                        <a routerLink="/login">J'ai déjà un compte</a>
                      </div>
                    </div>
                  </div>
                  
                <!-- END: Register Form -->
            </div>
        </div>
    </body>
</html>